[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "logitr"]
	path = logitr
	url = https://github.com/jhelvy/logitr
	shallow = true
	registered = true
[submodule "renderthis"]
	path = renderthis
	url = https://github.com/jhelvy/renderthis
	shallow = true
	registered = true
